# Bag-of-Words Model

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import TweetTokenizer
import pandas as pd

In [13]:
corpus = ["MENTION 1000/10 de verdad a ti que voy a decir petarda que te quiero más que a mí mismo  EMOJI", 
          "Al final han sido 3h  Bueno, mañana tengo fiesta así que.. No me quejo"]

In [14]:
tknzr = TweetTokenizer()
bag = []
for row in corpus:
    tmp = tknzr.tokenize(row)
    print(tmp)

['MENTION', '1000/10', 'de', 'verdad', 'a', 'ti', 'que', 'voy', 'a', 'decir', 'petarda', 'que', 'te', 'quiero', 'más', 'que', 'a', 'mí', 'mismo', 'EMOJI']
['Al', 'final', 'han', 'sido', '3h', 'Bueno', ',', 'mañana', 'tengo', 'fiesta', 'así', 'que', '..', 'No', 'me', 'quejo']

In [20]:
bow = CountVectorizer(ngram_range=(1, 1))

In [21]:
features = bow.fit_transform(corpus)

In [22]:
features.toarray()

array([[1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 3, 0,
        1, 0, 1, 0, 1, 1, 1],
       [0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
        0, 1, 0, 1, 0, 0, 0]], dtype=int64)

In [23]:
df = pd.DataFrame(features.toarray(),
                  index=['document '+str(i) for i in range(1, 1+len(corpus))],
                  columns=bow.get_feature_names())

In [24]:
df

,10,1000,3h,al,así,bueno,de,decir,emoji,fiesta,...,petarda,que,quejo,quiero,sido,te,tengo,ti,verdad,voy
document 1,1,1,0,0,0,0,1,1,1,0,...,1,3,0,1,0,1,0,1,1,1
document 2,0,0,1,1,1,1,0,0,0,1,...,0,1,1,0,1,0,1,0,0,0